I think I have discovered the root cause of the issue.  Each thread struct is pointing to the same shared u_char* dest location.  

Mallocing a thread local dest and then copying the results from the threads into the shared dest should fix it.

After further investigation, I think the original approach was better -- Mac OS does not implement pthread synchronization barriers, so unless we were to do so ourselves, a simple mutex on the shared dest buffer is probably best.

Any idea where to do that? I've placed locks around the cipher process in 
the function called by the thread. Same issue. I've also tried locks in 
various other places (such as when I'm populating the struct). I'll commit 
another version for your review.

On December 13, 2020 11:15:29 Jon Boone <notifications@github.com> wrote:
>
> After further investigation, I think the original approach was better -- 
> Mac OS does not implement pthread synchronization barriers, so unless we 
> were to do so ourselves, a simple mutex on the shared dest buffer is 
> probably best.
> —
> You are receiving this because you are subscribed to this thread.
> Reply to this email directly, view it on GitHub, or unsubscribe.



> Any idea where to do that? I've placed locks around the cipher process in the function called by the thread. Same issue. I've also tried locks in various other places (such as when I'm populating the struct). I'll commit another version for your review.

Claiming the mutex inside chachapoly_thread_work() immediately before and immediately after the call to EVP_CIPHER() should be the correct place to prevent the threads from stepping on each other.

From the debugging I've done (mostly refining the fprintf() statements to make things clearer), it seems that the issue may be that the main thread ends before the worker threads are able to start and perform their tasks.

There are a few ways I can think of to try to tackle this issue:
1. Have the main thread wait() until all of the worker threads have completed their tasks, then perform the final tag calculation (if encrypting) and exit the chachapoly_crypt() function.  The problem with this is that we'd have to add small sleep()s to keep from chewing up CPU waiting on the worker threads to finish.
2. Have the main thread act as the worker thread on the 0th chunk (just like it does in the case where the src buffer is smaller than the size of a chunk), while spinning up additional workers to do any additional chunks.  I'm not sure if this will fix the problem entirely, but it will at least give the other worker threads an opportunity to start running and do some computations before the main thread moves on.
3.  Some combination of the two approaches.

I'm having dinner -- and then I have to rebuild my Linux box (long story, longer process) -- but I'll try to take a glance at the new version you have checked-in no later than 09:00 EST tomorrow morning.

--jon

Issued a PR with the enhanced debug messages -- feel free to accept/reject at your discretion.

With respect to approach 1., I think that using a pthread conditional variable will do the trick nicely (example at: https://randu.org/tutorials/threads/).  In the current implementation, I'd have the chachaoply_thread_work() increment the conditional variable by 1 after it's successfully processed the local_thread.src data into local_thread.dest.

In the main thread (which would not be a worker itself), have it wait on the conditional variable until it is equal to the number of threads started.

So let me see if I understand this.

threadfunc {
   mutex lock
     dowork ()
     counter++
   mutex unlock
}

main {

for (i .. maxthreads) {
   pthread_create (threadfunc)
   pthread_join
}
pthread_condwait (counter == maxthreads)

}

Is that about right?


On 12/14/20 9:51 AM, Jon Boone wrote:
> With respect to approach 1., I think that using a pthread conditional 
> variable will do the trick nicely (example at: 
> https://randu.org/tutorials/threads/ 
> <https://randu.org/tutorials/threads/>). In the current implementation, 
> I'd have the chachaoply_thread_work() increment the conditional variable 
> by 1 after it's successfully processed the local_thread.src data into 
> local_thread.dest.
> 
> In the main thread (which would not be a worker itself), have it wait on 
> the conditional variable until it is equal to the number of threads started.
> 
> —
> You are receiving this because you commented.
> Reply to this email directly, view it on GitHub 
> <https://github.com/rapier1/chacha20-threaded-interface/issues/1#issuecomment-744491890>, 
> or unsubscribe 
> <https://github.com/notifications/unsubscribe-auth/AAKL66ERZUTOKI7ZAGSJGODSUYRADANCNFSM4UXMWSFQ>.
> 


I think you've understood, but to be certain, let me rephrase it:

insert counter++ line [here](https://github.com/rapier1/chacha20-threaded-interface/blob/7e02a949efcfc9f094107e244e3ae2eb10b00501/cipher-chachapoly-libcrypto.c#L104)

insert pthread_condwait(counter==maxthreads) [here](https://github.com/rapier1/chacha20-threaded-interface/blob/7e02a949efcfc9f094107e244e3ae2eb10b00501/cipher-chachapoly-libcrypto.c#L394)

Then we can work on cleaning up the thread structure creation, etc.  It really should all be one loop... :-)

Yup, did that. Still hitting some problems but I think it's a new set of 
problems now. BTW: I did have to change the counter=maxthreads because 
there will be times when it will only spin off 1 to 3 threads. I'll 
commit what I've done.

Oh, it was all one loop at one point but I started breaking it down into 
different loops when I couldn't figure shit out :)

Cuz increased complexity is the right way to isolate and solve problems. :)


On 12/14/20 7:21 PM, Jon Boone wrote:
> I think you've understood, but to be certain, let me rephrase it:
> 
> insert counter++ line here 
> <https://github.com/rapier1/chacha20-threaded-interface/blob/7e02a949efcfc9f094107e244e3ae2eb10b00501/cipher-chachapoly-libcrypto.c#L104>
> 
> insert pthread_condwait(counter==maxthreads) here 
> <https://github.com/rapier1/chacha20-threaded-interface/blob/7e02a949efcfc9f094107e244e3ae2eb10b00501/cipher-chachapoly-libcrypto.c#L394>
> 
> Then we can work on cleaning up the thread structure creation, etc. It 
> really should all be one loop... :-)
> 
> —
> You are receiving this because you commented.
> Reply to this email directly, view it on GitHub 
> <https://github.com/rapier1/chacha20-threaded-interface/issues/1#issuecomment-744873131>, 
> or unsubscribe 
> <https://github.com/notifications/unsubscribe-auth/AAKL66B2JWPO3ME4AYLNKXLSU2TZNANCNFSM4UXMWSFQ>.
> 


Cool!

It actually should be that the pthread_conditional == number of threads, so you’re right to change that!

Also, try increasing chunk=8196 (that probably works slightly better).

One more thing before you commit your changes -- there's a loop where we are copying data from the thread[i].dest to the *dest that was passed into the function -- please delete that -- it was from another experiment I was doing and shouldn't be in the code you have.

Issued a new PR -- with these changes, you should see that an scp'd file is very similar, though not exactly the same, as the original. 

@jonBoone Hey, I saw the PR for the confusion with the dest copy. I fixed that prior to this as it looked like you just forgot about it. Is that the pull request you were talking about or is there another one? Sorry for the delay in getting back to you. This day has been a shitshow. I'll be doing some work tonight and getting back in the groove tomorrow. 

I pushed a new commit. It's not working as I thought it would. It getting hung up somewhere. I haven't done anything with gdb yet as I have to make dinner. 

For sanity's sake, I have a branch in my repo called `restore-original`, in which I replaced `cipher-chachapoly-libcrypto.c` with `cipher-chachapoly-libcrypto.c.good`.  Is that the proper way to restore the src back to its initial state (prior to any changes you started making)? 

Also, I've been reading [RFC 8439 - ChaCha20 and Poly1305 for IETF Protocols](https://tools.ietf.org/html/rfc8439) and, unless I'm misunderstanding, the changes we are attempting to implement will *not* work without a similar implementation on the other side.  The short story is, each time we call EVP_Cipher() we are passing in what the cipher implementation thinks is the entire packet, so the resulting cryptotexts can't be combined together, but must be sent separately, which will kill your throughput on the wire.  Please review the RFC and let me know if you disagree.

It seems like our best bet at this time is to take the threading work we've been trying to add to `cipher-chacha20poly-libcrypto.c` and work it into `cipher-chachapoly.c`.



On 12/17/20 8:10 AM, Jon Boone wrote:
> For sanity's sake, I have a branch in my repo called |restore-original|, 
> in which I replaced |cipher-chachapoly-libcrypto.c| with 
> |cipher-chachapoly-libcrypto.c.good|. Is that the proper way to restore 
> the src back to its initial state (prior to any changes you started making)?

Honestly, I don't know I'll take a look.

> Also, I've been reading RFC 8439 - ChaCha20 and Poly1305 for IETF 
> Protocols <https://tools.ietf.org/html/rfc8439> and, unless I'm 
> misunderstanding, the changes we are attempting to implement will /not/ 
> work without a similar implementation on the other side. The short story 
> is, each time we call EVP_Cipher() we are passing in what the cipher 
> implementation thinks is the entire packet, so the resulting cryptotexts 
> can't be combined together, but must be sent separately, which will kill 
> your throughput on the wire. Please review the RFC and let me know if 
> you disagree.

I believe that would be true if each time we sent data to the EVP_Cipher 
we reinitialized the cipher context. However, we only do that once so 
the nonce should be consistent across multiple blocks of data (assuming 
that assuming that the ctx is actually, ya know, being copied 
correctly). As a counter cipher it should be possible, as long as the 
nonce remains consistent, generate any arbitrary block for that counter 
as part of a stream. The question is if the openssl implementation 
actually accepts arbitrary block counters. I've been assuming that they do.

Can you point to where in the RFC you think I should be looking? To be 
honest I haven't even thought about reading this RFC as I've mostly just 
been reading Bernstein's papers.

One of the things I've been working on today is trying to assure that 
the way I'm memcpying src to the thread struct is correct. I don't think 
it is. I believe I'm, in places, screwing up the boundaries causing the 
bytestream to be off by x bytes (which is why garbage appears in some 
transfers as the xor would be off). In other places I think I'm leaving 
gaps which is causing the 4 bytes of null characters to get inserted at 
what seem to be chunk boundaries.

Even if this doesn't work with the libcrypto version getting the buffer 
math correct is important so...

Honestly, what I'd like to do is what Ben Bennet (a colleague) 
implemented for the AES-CTR cipher (cipher-ctr-mt.c) which created a 
precomputed keysteam queue that we could just xor the data stream 
against. That might be the right way to do things as you can set up an 
arbitrary number of threads (which is good when dealing with processors 
with 64 cores) but I wanted to do this as some level of proof that 
threading chacha20 would provide some level of benefit in terms of 
throughput.

> It seems like our best bet at this time is to take the threading work 
> we've been trying to add to |cipher-chacha20poly-libcrypto.c| and work 
> it into |cipher-chachapoly.c|.

I've been looking at that but it's not used if openssl is enabled during 
compilation so I decided to start with this one. It's not that we can't 
use that one it's just more fiddling with other bits of code in other 
files.

By way, I *really* appreciate all of this.


Something I just thought of -

The reason why it may work with sequential threads as a opposed to 
concurrent is that the OpenSSL version of chacha20 may not be thread 
safe. I'm looking into that now and think there may be a solution using 
what are called cryptolocks. 
https://www.openssl.org/blog/blog/2017/02/21/threads/

Again, this might be a dead end but can't hurt to try it.

On 12/17/20 8:10 AM, Jon Boone wrote:
> For sanity's sake, I have a branch in my repo called |restore-original|, 
> in which I replaced |cipher-chachapoly-libcrypto.c| with 
> |cipher-chachapoly-libcrypto.c.good|. Is that the proper way to restore 
> the src back to its initial state (prior to any changes you started making)?
> 
> Also, I've been reading RFC 8439 - ChaCha20 and Poly1305 for IETF 
> Protocols <https://tools.ietf.org/html/rfc8439> and, unless I'm 
> misunderstanding, the changes we are attempting to implement will /not/ 
> work without a similar implementation on the other side. The short story 
> is, each time we call EVP_Cipher() we are passing in what the cipher 
> implementation thinks is the entire packet, so the resulting cryptotexts 
> can't be combined together, but must be sent separately, which will kill 
> your throughput on the wire. Please review the RFC and let me know if 
> you disagree.
> 
> It seems like our best bet at this time is to take the threading work 
> we've been trying to add to |cipher-chacha20poly-libcrypto.c| and work 
> it into |cipher-chachapoly.c|.
> 
> —
> You are receiving this because you commented.
> Reply to this email directly, view it on GitHub 
> <https://github.com/rapier1/chacha20-threaded-interface/issues/1#issuecomment-747429887>, 
> or unsubscribe 
> <https://github.com/notifications/unsubscribe-auth/AAKL66BGN7Y72IGNJYTDQDDSVH7ODANCNFSM4UXMWSFQ>.
> 


And this 
https://www.openssl.org/docs/man1.1.1/man3/CRYPTO_THREAD_lock_new.html

On 12/17/20 8:10 AM, Jon Boone wrote:
> For sanity's sake, I have a branch in my repo called |restore-original|, 
> in which I replaced |cipher-chachapoly-libcrypto.c| with 
> |cipher-chachapoly-libcrypto.c.good|. Is that the proper way to restore 
> the src back to its initial state (prior to any changes you started making)?
> 
> Also, I've been reading RFC 8439 - ChaCha20 and Poly1305 for IETF 
> Protocols <https://tools.ietf.org/html/rfc8439> and, unless I'm 
> misunderstanding, the changes we are attempting to implement will /not/ 
> work without a similar implementation on the other side. The short story 
> is, each time we call EVP_Cipher() we are passing in what the cipher 
> implementation thinks is the entire packet, so the resulting cryptotexts 
> can't be combined together, but must be sent separately, which will kill 
> your throughput on the wire. Please review the RFC and let me know if 
> you disagree.
> 
> It seems like our best bet at this time is to take the threading work 
> we've been trying to add to |cipher-chacha20poly-libcrypto.c| and work 
> it into |cipher-chachapoly.c|.
> 
> —
> You are receiving this because you commented.
> Reply to this email directly, view it on GitHub 
> <https://github.com/rapier1/chacha20-threaded-interface/issues/1#issuecomment-747429887>, 
> or unsubscribe 
> <https://github.com/notifications/unsubscribe-auth/AAKL66BGN7Y72IGNJYTDQDDSVH7ODANCNFSM4UXMWSFQ>.
> 


_> I believe that would be true if each time we sent data to the EVP_Cipher
we reinitialized the cipher context. However, we only do that once so
the nonce should be consistent across multiple blocks of data (assuming
that assuming that the ctx is actually, ya know, being copied
correctly). As a counter cipher it should be possible, as long as the
nonce remains consistent, generate any arbitrary block for that counter
as part of a stream. The question is if the openssl implementation
actually accepts arbitrary block counters. I've been assuming that they do.

Can you point to where in the RFC you think I should be looking? To be
honest I haven't even thought about reading this RFC as I've mostly just
been reading Bernstein's papers._

My confusion (and it may just be in my head) is around 
[the actual invocation of EVP_Cipher()](https://github.com/rapier1/chacha20-threaded-interface/blob/a2d459b0ea417ec8b29e951c4f28e90ee2615b2d/cipher-chachapoly-libcrypto.c#L106).  Notice that when we are passing in the src and dest locations, we're shifting them, not only by the current buffer position, but also by the aadlen.  My understanding, per the RFC, is that aad only comes into play after all of the plaintext has been encrypted and as part of the generation of the tag.  See step 3 of [RFC 8439, section 2.8](https://tools.ietf.org/html/rfc8439#section-2.8).

So, it seems to me, that referencing space for the aad makes sense only in one of the two following scenarios:

1. The chunk is an even multiple of 16 bytes and aadlen = 0
2. The chunk is < an even multiple of 16 bytes and aadlen + sizeof(chunk) is an even multiple of 16.

But we're always setting the same aadlen value for each invocation, which doesn't seem to be correct to me.

I think I fixed that in the latest set of work. I haven't committed it 
yet though. I'll take a look on the 26th or 27th and see where it stands.

On 12/19/20 11:41 AM, Jon Boone wrote:
> _> I believe that would be true if each time we sent data to the EVP_Cipher
> we reinitialized the cipher context. However, we only do that once so
> the nonce should be consistent across multiple blocks of data (assuming
> that assuming that the ctx is actually, ya know, being copied
> correctly). As a counter cipher it should be possible, as long as the
> nonce remains consistent, generate any arbitrary block for that counter
> as part of a stream. The question is if the openssl implementation
> actually accepts arbitrary block counters. I've been assuming that they do.
> 
> Can you point to where in the RFC you think I should be looking? To be
> honest I haven't even thought about reading this RFC as I've mostly just
> been reading Bernstein's papers._
> 
> My confusion (and it may just be in my head) is around
> the actual invocation of EVP_Cipher() 
> <https://github.com/rapier1/chacha20-threaded-interface/blob/a2d459b0ea417ec8b29e951c4f28e90ee2615b2d/cipher-chachapoly-libcrypto.c#L106>. 
> Notice that when we are passing in the src and dest locations, we're 
> shifting them, not only by the current buffer position, but also by the 
> aadlen. My understand, per the RFC, is that aad only comes into play 
> after all of the plaintext has been encrypted and as part of the 
> generation of the tag. See step 3 of RFC 8439, section 2.8 
> <https://tools.ietf.org/html/rfc8439#section-2.8>.
> 
> So, it seems to me, that referencing space for the aad makes sense only 
> in one of the two following scenarios:
> 
>  1. The chunk is an even multiple of 16 bytes and aadlen = 0
>  2. The chunk is < an even multiple of 16 bytes and aadlen +
>     sizeof(chunk) is an even multiple of 16.
> 
> But we're always setting the same aadlen value for each invocation, 
> which doesn't seem to be correct to me.
> 
> —
> You are receiving this because you commented.
> Reply to this email directly, view it on GitHub 
> <https://github.com/rapier1/chacha20-threaded-interface/issues/1#issuecomment-748496428>, 
> or unsubscribe 
> <https://github.com/notifications/unsubscribe-auth/AAKL66DHSQ7ZRSKJSKLK5TTSVTJTDANCNFSM4UXMWSFQ>.
> 


I've compiled the code in the `cryptolocks` branch.  The good news is that it works some of the time when I scp the `ssh.c` file to $HOME/ssh.c via localhost.  I ran it manually about 6 times and it worked 5 of the 6 times.

The bad news is that the 1 time it didn't work, only about 1/2 of the `ssh.c` file was successfully transferred and the process hung until i canceled it with `^-c`.  Clearly, there's still a timing issue.